@model TestBugTracker.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DetailedDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DetailedDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Urgency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Urgency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Criticality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Criticality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
    </dl>
</div>

@if (Model.Status != Status.Closed)
{
    <div>
        <form asp-action="ChangeStatus">
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label class="control-label">Comment</label>
                <input type="text" required="" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="@Html.DisplayFor(model => model.Status+1)" class="btn btn-default" />
                @if (Model.TicketStatus.IsOpenable)
                {

                }
            </div>
        </form>
    </div>
}

<div>
    <a asp-action="Edit" asp-route-ID="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


<h4>Ticket History</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketHistories.First().Action)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketHistories.First().User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketHistories.First().DateOfChange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketHistories.First().Comment)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TicketHistories.OrderByDescending(t => t.DateOfChange))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Action)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfChange)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
            </tr>
        }
    </tbody>
</table>
